<doctype html>
<title>Lista dos médicos</title>
<body style="padding:20px">
  {% if cursor %}
    <h1>Lista dos médicos</h1>
    <p><a href="medico/insert">Inserir novo médico</a>
    <table border="2px">
      <thead>
        <tr>
          <th>Número da cédula</th>
          <th>Nome</th>
          <th>Especialidade</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>      
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td><a href="medico/update?num_cedula={{ record[0] }}">Alterar informações</a></td>
            <td><a href="medico/delete/confirm?num_cedula={{ record[0] }}">Remover médico</a></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</doctype>